a {
  margin-bottom: 5px;
}

#page-login {
  display: grid;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    " head"
    " main"
    " foot";
}

#page-login>header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: head;
}

#page-login>main {
  display: flex;
  max-height: 800px;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-around;
  grid-area: main;
}

#page-login>footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: foot;
}

output {
  background-color: #cbcbcb;
  width: 120px;
  height: 50px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.card {
  max-width: 300px;
  max-height: 320px;
}
